<main>
  <section class="gists-section">
    <div>
      @for(gist of $gists | async; track gist.id) {
      <div class="gist">
        <label>
          <input
            type="radio"
            name="color"
            [value]="gist"
            [(ngModel)]="selectedGist"
          />
          {{ gist.title }}
          <div class="gist__detail">
            <div>{{ gist.fileName }}</div>
            <div>Last Updated {{ gist.lastUpdated.toLocaleString() }}</div>
          </div>
        </label>
      </div>
      } @empty {
      <div class="error-message">No gists found!</div>
      }
    </div>

    @if(errorMessage != null) {
    <div class="error-message">
      {{ errorMessage }}
    </div>
    }

    <div class="btn-container">
      <div>
        <button
          class="ms-Button ms-Button--primary insert-btn"
          [disabled]="selectedGist == null"
          (click)="insertGist(selectedGist)"
        >
          <span class="ms-Button-label">Insert</span>
        </button>
      </div>
    </div>
  </section>
</main>
