<main>
  <header class="header">
    <h2>Git the Gist</h2>
  </header>
  <section class="gists-section">
    @for(gist of $gists | async; track gist.id) {
    <div class="gist">
      <label>
        <input
          type="radio"
          name="color"
          [value]="gist.id"
          [(ngModel)]="selectedGistId"
        />
        {{ gist.title }}
        <div class="gist__detail">
          <div>{{ gist.fileName }}</div>
          <div>Last Updated {{ gist.lastUpdated.toLocaleString() }}</div>
        </div>
      </label>
    </div>
    } @empty {
    <div class="gist">No gists found!</div>
    } @if(errorMessage != null) {
    <p class="error-message">
      {{ errorMessage }}
    </p>
    }
    <button
      class="ms-Button ms-Button--primary"
      id="insert-button"
      [disabled]="selectedGistId == null"
      (click)="insertGist(selectedGistId)"
    >
      <span class="ms-Button-label">Insert</span>
    </button>
  </section>
</main>
